<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.fzp.mykotlinandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".forKotlin.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".forJava.MainJavaActivity"/>
        <activity android:name=".forKotlin.MenuActivity">
        </activity>
        <activity android:name=".forJava.MenuJavaActivity">
        </activity>
        <activity android:name=".forJava.Chapter3JavaActivity">
        </activity>
        <activity android:name=".forKotlin.Chapter3Activity">
        </activity>
        <activity android:name=".forKotlin.chapter3.FunCallActivity">
        </activity>
        <activity android:name=".forJava.javachapter3.FunCallJavaActivity">
        </activity>
        <activity android:name=".forKotlin.chapter3.StrRegexActivity">
        </activity>
        <activity android:name=".forKotlin.chapter3.LocalAndExtendActivity">
        </activity>
        <activity android:name=".forKotlin.Chapter4Activity">
        </activity>
        <activity android:name=".forJava.Chapter4JavaActivity">
        </activity>
    </application>

</manifest>